
<div class="modal" tabindex="1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{chPass.title}}</h4>
            </div>
            <div class="modal-body">
                
                <form name="chPassForm">
                    
                    <div class="form-group has-feedback" ng-class="{ 'has-error': chPassForm.password.$invalid && chPassForm.password.$touched, 'has-success': chPassFormForm.cpassword.$valid }">
                        <label class="control-label hidden-md">New Password</label>
                        <div class="">
                            <input type="password" class="form-control" name='password' ng-model="credentials.password" required >
                        </div>
                    </div>
                    
                    <div class="form-group has-feedback" ng-class="{ 'has-error': chPassForm.cpassword.$invalid && chPassForm.cpassword.$touched, 'has-success': chPassFormForm.cpassword.$valid }">
                        <label class="control-label hidden-md">Confirm Password</label>
                        <div class="">
                            <input type="password" class="form-control" name='cpassword' ng-model="credentials.cpassword" required ng-pattern=credentials.password >
                        </div>
                        <div ng-messages="chPassForm.cpassword.$error" ng-if="chPassForm.cpassword.$touched">
                            <p class="error text-danger" ng-show="chPassForm.cpassword.$error.pattern">Confirm Password does not match Password</p>
                        </div>
                    </div>
                    
                </form>
                
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-flat" ng-click="chPass.cancelHandler"><span class="fa fa-remove"></span> Cancel</button>
                <button class="btn btn-success pull-right btn-flat" ng-click="chPass.changeHandler"><span class="fa fa-check"></span> Save</button>
            </div>
        </div>
    </div>
</div>